extends ../layout
block content
  .container  
    .col-xs-12.col-sm-12.col-md-6.col-lg-6.col-xs-offset-0.col-sm-offset-0.col-md-offset-3.col-lg-offset-3.toppad.pull-left
       form.panel.panel-info.form-horizontal(method="post", action="#{action}")
        div.panel-heading
          h3.panel-title #{asignatura.nombre}
        div.panel-body
            -if(put)
              input(type="hidden", name="_method", value="PUT")
            div.form-group
              label.col-sm-3.control-label Nombre
              div.col-sm-9
                span.form-control #{asignatura.nombre}
            div.form-group
              label.col-sm-3.control-label Informacion
              div.col-sm-9
                textarea.form-control(disabled) #{asignatura.informacion}
            div.form-group
              label.col-sm-3.control-label URL
              div.col-sm-9
                a.form-control(href="#{asignatura.url_descarga}") #{asignatura.url_descarga}
        -if(req.session.rol=='alumno')
          div.panel-footer
            a.btn.btn-sm.btn-primary(href="/principal") Volver Atrás
        -else
          div.panel-footer
            a.btn.btn-sm.btn-primary(href="/asignaturas") Volver Atrás
    .container
      .col-xs-3.pull-right
        div.panel.panel-info
          div.panel-heading
            strong Alumnos
          div.panel-body
            -if(docalu.length > 0)
              -each alu in docalu
                -if(alu!=null)
                  li  #{alu.nombre} #{alu.apellido} #{alu.dni} 
    .container
      .col-xs-3.pull-right
        div.panel.panel-info
          div.panel-heading
            strong Profesores
          div.panel-body
            -if(docprof.length > 0)
              -each prof in docprof
                -if(prof!=null)
                  li  #{prof.nombre} #{prof.apellido} #{prof.dni} 

