extends ../layout
block content
  -if(usuarios.length > 0)
    div.panel.panel-info
      div.panel-heading
        h3.panel-title Usuarios
      div.panel-body
        table.table
          thead
            tr
              th Nombre
              th Apellido
              th Email
              th
              th
              th
          tbody
            -each item in usuarios
              tr
                td #{item.nombre}
                td #{item.apellido}
                td #{item.email}
                td
                  -if(req.session.rol=='profesor' || req.session.rol=='admin')
                    a(href="/usuarios/#{item._id}") Ver
                td
                  -if(req.session.rol=='admin')
                    a(href="/usuarios/#{item._id}/edit") Editar
                td
                  -if(req.session.rol=='admin')
                    form(method="post", action="/usuarios/#{item._id}")
                      input(type="hidden", name="_method", value="DELETE")
                      a(href="javascript:void(0);", onclick="if(confirm('¿Está seguro que desea eliminar este registro?')){this.parentNode.submit();}") Eliminar
      div.panel-footer
        -if(req.session.rol == "admin")
          a.btn.btn-primary(href="/usuarios/create") Crear nuevo usuario
  -else
    p.text-danger No existen usuarios creados
    a.btn.btn-primary(href="/usuarios/create") Crear nuevo usuario